@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS */
.custom-checkbox {
  display: none;
}

.custom-checkbox + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.custom-checkbox + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
}

.custom-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
}
